#Prod {
    background-color: greenyellow;
    border: 2px solid green;
    border-color: green;
    cursor: pointer;
    padding: 14px 40px;
    font-size: 25px;
    color: green;
    border-radius: 20px;
}
#Prod:hover {
    background-color: rgba(158, 233, 45, 0.5);
    border: 2px solid green;
    border-color: green;
    cursor: pointer;
    padding: 14px 40px;
    font-size: 25px;
    color: green;
    transition: 0.3s;
}

#Expan {
    background-color: rgb(6, 154, 240);
    border: 2px solid black;
    border-color: black;
    cursor: pointer;
    padding: 14px 40px;
    font-size: 25px;
    border-radius: 20px;
}
#Expan:hover {
    background-color: rgba(6, 154, 240, 0.5);
    border: 2px solid blue;
    border-color: blue;
    cursor: pointer;
    padding: 14px 40px;
    font-size: 25px;
    transition: 0.3s;
}

#buyGen {
    background-color: rgb(13, 109, 0);
    border: 2px solid black;
    border-color: black;
    cursor: pointer;
    padding: 40px 40px;
    font-size: 20px;
    transition: 0.2s;
}
#buyGen:hover {
    background-color: rgb(29, 196, 7);
    border: 2px solid black;
    border-color: black;
    cursor: pointer;
    padding: 40px 40px;
    font-size: 20px;
    transition: 0.4s;
}

#buyTicket {
    background-color: rgba(243, 60, 173, 0.897);
    border: 2px solid black;
    border-color: black;
    cursor: pointer;
    padding: 40px 30px;
    font-size: 20px;
    transition: 0.2s;
}
#buyTicket:hover {
    background-color: rgb(243, 60, 173);
    border: 2px solid black;
    border-color: black;
    cursor: pointer;
    padding: 40px 30px;
    font-size: 20px;
    transition: 0.4s;
}

#ticketindicator {
    color: rgb(159, 15, 255);
    text-shadow: 0px 0px 10px
}